<form [formGroup]="trainForm" (ngSubmit)="submitForm()" class="form-container">
  <h2>Schedule Train</h2>
  <div class="form-row">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Train No</mat-label>
      <input matInput formControlName="trainNo" placeholder="Enter Train No" />
      <mat-error *ngIf="trainForm.get('trainNo').hasError('required')">
        Train number must be unique.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Train Name</mat-label>
      <input matInput formControlName="trainName" placeholder="Enter Train Name">
      <mat-error *ngIf="trainForm.get('trainName').hasError('required')">Train name is required.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Source Station</mat-label>
      <input matInput formControlName="sourceStation" placeholder="Enter Source Station">
      <mat-error *ngIf="trainForm.get('sourceStation').hasError('required')">Source Station is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Destination Station</mat-label>
      <input matInput formControlName="destinationStation" placeholder="Enter Destination Station">
      <mat-error *ngIf="trainForm.get('destinationStation').hasError('required')">Destination Station is
        required.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price of First Class Coach</mat-label>
      <input matInput formControlName="firstClassPrice" placeholder="Enter Price">
      <span matSuffix>₹</span> 
      <mat-error *ngIf="trainForm.get('firstClassPrice').hasError('required')">Price of First Class is
        required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price of Second Class Coach</mat-label>
      <input matInput formControlName="secondClassPrice" placeholder="Enter Price">
      <span matSuffix>₹</span> 
      <mat-error *ngIf="trainForm.get('secondClassPrice').hasError('required')">Price of Second Class is
        required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price of Third Class Coach</mat-label>
      <input matInput formControlName="thirdClassPrice" placeholder="Enter Price">
      <span matSuffix>₹</span> 
      <mat-error *ngIf="trainForm.get('thirdClassPrice').hasError('required')">Price of third class is
        required.</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Price of Sleeper Class Coach</mat-label>
      <input matInput formControlName="sleeperCoachPrice" placeholder="Enter Price">
      <span matSuffix>₹</span> 
      <mat-error *ngIf="trainForm.get('sleeperCoachPrice').hasError('required')">Price of Sleeper coach is
        required.</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Departure Time</mat-label>
      <input matInput type="time" formControlName="departureTimes" placeholder="Enter Departure Time">
      <mat-error *ngIf="trainForm.get('departureTimes').hasError('required')">Departure time is required.</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Arrival Time</mat-label>
      <input matInput type="time" formControlName="arrivalTimes" placeholder="Enter Arrival Time">
      <mat-error *ngIf="trainForm.get('arrivalTimes').hasError('required')">Arrival Time is required.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="form-field">
      <mat-label>Date</mat-label>
      <input matInput  type="date"  formControlName="dates" placeholder="Select Date" [min]="minDate">
      <mat-error  *ngIf="trainForm.get('dates').hasError('required')" >Date is required.</mat-error >
     </mat-form-field> -->


    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dates" placeholder=" Select Date" [min]="minDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="trainForm.get('dates').hasError('required')">Date is required.</mat-error>

    </mat-form-field>

  </div>


  <div class="form-row justify-content-between">
    <button mat-raised-button color="primary" type="submit">Submit <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" type="button" (click)="clearForm()">Clear <mat-icon>clear</mat-icon></button>
  </div>
</form>