<!-- your-component.component.html -->

<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>PNR</th>
          <th>Train No</th>
          <th>Date to travel</th>
          <th>User Name</th>
          <th>Total Seats Booked</th>
          <th>Class Type</th>
          <th>Booking Fare</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let train of bookings">
          <td>{{train.pnr}}</td>
          <td>{{ train.trainNo }}</td>
          <td>{{train.dates}}</td>
          <td>{{ train.userName }}</td>
          <td>{{ train.totalSeats }}</td>
          <td>{{train.classType}} Class</td>
          <td>{{ train.price}}</td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
  