

   <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2>User Information</h2>
  
    <div class="form-row">
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" placeholder="Enter Username" />
        <mat-error *ngIf="userInfoForm.get('userName').hasError('required')">
          Username is required.
        </mat-error>
        <mat-error *ngIf="userInfoForm.get('userName').hasError('minlength')">
          Username must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="userInfoForm.get('userName').hasError('notUnique')">
          Username is not unique.
        </mat-error>
      </mat-form-field>

  
      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter Password" />
        <mat-error *ngIf="userInfoForm.get('password').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="userInfoForm.get('password').hasError('minlength')">
          Password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" placeholder="Enter Password" required>
        <mat-error *ngIf="userInfoForm.get('confirmPassword').hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="userInfoForm.get('confirmPassword').hasError('passwordMismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </div> -->

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter Password" />
      <mat-error *ngIf="userInfoForm.get('password').hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="userInfoForm.get('password').hasError('minlength')">
        Password must be at least 8 characters long.
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password" required>
      <mat-error *ngIf="userInfoForm.get('confirmPassword').hasError('required')">
        Confirm Password is required.
      </mat-error>
      <mat-error *ngIf="userInfoForm.hasError('passwordMismatch', 'confirmPassword')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
    </div>
  
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter First Name" required>
        <mat-error  *ngIf="userInfoForm.get('firstName').hasError('required')">First name is required.</mat-error >
        <mat-error  *ngIf="userInfoForm.get('firstName').hasError('minlength')">First name must be at least 2 characters long.</mat-error >
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" placeholder="Enter Middle Name (Optional)" >
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter Last Name" required>
        <mat-error *ngIf="userInfoForm.get('lastName').hasError('required')">Last name is required.</mat-error >
        <mat-error  *ngIf="userInfoForm.get('lastName').hasError('minlength')">Last name must be at least 2 characters long.</mat-error >
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date of Birth</mat-label>
        <!-- <input matInput formControlName="dateOfBirth" type="date" placeholder="Enter Date of Birth" required> -->
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Date of Birth" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Gender</mat-label>
        <mat-select  formControlName="gender" placeholder="Select Gender">
          <mat-option *ngFor="let option of genderOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userInfoForm.get('gender').hasError('required')">Gender is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field"> 
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber" placeholder="Enter Mobile Number" />
        <mat-error *ngIf="userInfoForm.get('mobileNumber').hasError('pattern')">
          Mobile number must contain only digits.
        </mat-error>
        <mat-error *ngIf="userInfoForm.get('mobileNumber').hasError('minlength')">
          Mobile number must be 10 digits long.
        </mat-error>
      </mat-form-field>
    </div>
  


    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter Email Address" required>
        <mat-error *ngIf="userInfoForm.get('email').hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="userInfoForm.get('email').hasError('email')">Invalid email address.</mat-error>
  </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nationality</mat-label>
        <input matInput formControlName="nationality" placeholder="Enter Email Address" required>
        <mat-error *ngIf="userInfoForm.get('nationality').hasError('required')">Email is required.</mat-error>
      </mat-form-field>
    </div>
    
    <!-- Add other fields as needed -->
  
    <div class="form-row justify-content-between">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="clearForm()">Clear</button>
    </div>
  </form>
  