th,td{
    border: 1px solid black;
    text-align: center;
}
button{
    margin-top: 10px; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;
}

/* booking.component.css */
form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
    width: 50%;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* booking.component.css */
.label-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-top: 10px;
    margin-left: 45%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .label-container label {
    background-color: white;
    padding: 10px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .label-container select {
    padding: 8px;
    width: 50%;
  }
  
  .new-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); ;
    padding: 10px;
    width: 50%;
  }