/* search-list.component.css

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    overflow-x: auto; 
    margin: 5px;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  
  th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  tbody tr {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    th, td {
      font-size: 14px;
      padding: 8px;
    }
  }
   */
   /* search-list.component.css */

.card-deck {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
  width: 20rem; /* Adjust the width as needed */
  margin-right: 1rem; /* Adjust the margin between cards as needed */
}
  
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto;
  }
  
  .card-body {
    text-align: left;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #e0e0e0; /* Blue color */
    margin-bottom: 20px;
    /* Border line under the heading */
    padding-bottom: 8px;
  }
  /* no-data-found.component.css */

.card {
    width: 18rem; /* Adjust the width as needed */
    margin: auto;
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff; /* Adjust the color as needed */
  }
  
  .card-text {
    margin-top: 10px;
    color: #555; /* Adjust the color as needed */
  }
  
  h2 {
    text-align: center; /* Center text */
    background-color: #ffffff; /* White background color */
    padding: 6px; /* Add padding for spacing */
    margin-top: 1%;
  }