<!-- <div id="navbar" >
    <a routerLink="/train-booking">Add Train</a>
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/">Home</a>
</div>  -->


<div class="navbar">
    <div class="logo-container">
      <img  src='../assets/images/tarinlogo.jpg' alt="Logo" width="40" height="40" style="font-size: 18px; " class="d-inline-block align-top">Train Ticket Reservation System
    </div>
   
  <div class="buttons-container">
    <a routerLink="/">Home</a>
    <a routerLink="/pnrstatus">PNR Status</a>
    <a *ngIf="!loggedIn" routerLink="/signup">Register</a>
    <a routerLink="/train-booking" *ngIf="userRole=='ADMIN' && loggedIn">Add Train</a>
    <a routerLink="/alltrains"  *ngIf="userRole=='ADMIN' && loggedIn" >All Trains</a>
    <a *ngIf="!loggedIn" routerLink="/login">Login</a>
    <a *ngIf="userRole=='ADMIN' && loggedIn"></a>
    <a routerLink="/allBookingData" *ngIf="userRole=='ADMIN' && loggedIn">Booking Data</a>
    <a  routerLink="/bookinghistory" *ngIf="loggedIn && userRole=='USER'">Booking History</a>
    <a  routerLink="/updateuser" *ngIf="loggedIn && userRole!='ADMIN'" (click)="update()">View/Update Profile</a>
    <a routerLink="/" *ngIf="loggedIn" (click)="logoutUser()">Logout</a>
    <a *ngIf="loggedIn" style="font-size:x-large;">Welcome {{username}}!</a>

    <!-- <a *ngIf="loggedIn">{{this.loginService.currentUsername()}}</a> -->
  </div>
</div>